body {
        background-color: #FFFF99;
      }
    /* style to create a fluid image */
img (
        max-width: 100%;
)

/* styles for Modible Layout */
#container {
        width: 100%
        margin-left: auto;
        margin-right: auto;
}
/* Style for the header specifies top margin, background color, rounded corners, and center-aligns content */
header {
     margin-top: 0.2em;
     backgorund-color: #FFFFFF;
     border-radius: 0.5em;
     text-align: center;
}
/* Style for the nav specifies text properties */
nav {
        font-family: Georgia, "Times New Roman", serif;
        font-size: 1.25mm
        font-weight: bold;
        text-align: center;
}

/*Style specifies padding and margins for unordered list */
nav ul {
                padding: 0;
                margin-bottom: 0.5em;
                margin-top: 0.5em;
}

main {
        display: block;
        font-family: Verdana, Arial, sans-serif;
        font-size: 1em;
        margin-top: 20px;
       margin-bottom: 10px;
        padding: 20px;
        border-radius: 10px;
        background-color: #FFFFFF;
        box-shadow: 12px 12px 12px #404040;
        
        
footer
        font-size: .70em;
        text-align: center;
        margin-top: 20px;
}

.equip {
       float: left; 
        padding-right: 20px;
}

ul {
      margin-bottom: 50px;  
       list-style-position: inside;
}

dt {
     font-weight: bold;   
}

dd {
    padding-bottom: 20px;
}
