<!DOCTYPE html>
<!-- This website template was created by: Hasan Suleiman ISM 5994 -->
<html lang="en">
<head>
    <title>Forward Fitness Club</title>
    <meta charset="utf-8">
</head>
<body>

	<div id="container">
	
    <header>
	  <img src="images/ffc_logo.png" alt="Forward Fitness Club Logo">  
    </header>
	
	
	<nav>
		<ul>
			<li><a href="index.html">Home<a/></li>	
			<li><a href="about.html">About Us</a></li>	
			<li><a href="class.html">Classes</a></li>
			<li><a href="nutrition.html">Nutrition</a></li>
			<li><a href="contact.html">Contact Us</a></li> 
		</ul>
	</nav>
	
	
	<main>
		
		<h2>Ready to get started? Contact us today.</h2>
		<p>We are located at:<br>
		25743 Bloom Court<br>
		Locket, GA 85524</p>
		
		<p>Phone Number<br>
		<a class="mobile" href="tel:8145559608">(814) 555-9608</a>(814) 555-9608</p
		
		<p>Email Address<br>
		<a href="mailto:forwardfitness@club.net">forwardfitness@club.net</a></p>
		<br><br>
			
	</main>
	
	
	<footer>
		Copyright 2015. All rights reserved.<br>
		<a href="mailto:forwardfitness@club.net">forwardfitness@club.net</a>
	</footer>
	
	</div> 
	
</body>
</html>
