<!DOCTYPE html>

<html lang="en">
<!-- This website template was created by: Hasan Suleiman ISM 5994 -->
      
<head>
	<link rel="stylesheet" href="CSS/styles.css">
	<title>forward fitness club</title>
	<meta charset = "utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	
	<div id="container">
	
	<header>
		<a href="index.html"><img src="Images/ffc_logo.png" 
		alt ="Forward Fitness Club logo"></a>
	</header>
	
	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			
			<li><a href="about.html">About Us</a></li>
			
			<li><a href="class.html">Class</a></li>
			
			<li><a href="nutrition.html">Nutrition</a></li>
			
			<li><a href="contact.html">Contact Us</a></li>
		</ul>
	</nav>
	
	<main>
	
	</main>
	
	<footer>
		&copy; Copyright 2015. All Rights Reserved.<br>
		
		<a href="mailto:forwardfitness@club.net">forwardfitness@club.net</a>
	</footer>
	
	</div>
	
</body>

</html>
